$textFont: "Open Sans", sans-serif;
$paintFont: "Painting With Chocolate", sans-serif;
$mainFont: "Ubuntu", Arial, Helvetica, sans-serif;

$primary: #ff4242;

$darkGray: #646464;
$lightGray: #ebebeb;

$white: #ffffff;
$black: #000000;

$menuBoxShadow: rgba(70, 80, 40, 0.3);

$smallFont: calc(6vh + 2vw);
